/* --- APPLY TO EVERYTHING --- */
* {
    /* TODO: figure out a way to properly use fonts */
    font-family: 'Unna', serif;
    font-size: 1.15em;
}

html, body {
    height: 100%;
}

/* --- BODY --- */
body {
    display: flex;
    flex-direction: column;
    background-color: #111111;

}

a {
    color: #0000ee;
}


/* --- HEADER --- */
header {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 50px;
    display: flex;
    height: 3em;
    background-color: #fffbfb;
}

header nav {
    margin: auto;
}


/* --- NAV-HOME --- */
#nav-home {
    font-size: 2.35em;
    padding-left: 25px;
}

/* --- MAIN --- */
main {
    background-color: #fffbfb;
    margin-bottom: 50px;
    flex: 1 0 auto;
}


/* --- FOOTER --- */
footer {
    border-style: solid;
    border-width: 1px;
    background-color: #fffbfb;
    text-align: center;
    flex-shrink: 0;
}

/* --- FOOTER - CONTACT LOGOS --- */
#discord-logo {
    width: 48px;
    height: 48px;
}

#telegram-logo {
    width: 48px;
    height: 48px;
}

#mail-logo {
    width: 50px;
    height: 50px;
}