/* --- APPLY TO EVERYTHING --- */
* {
    /* TODO: figure out a way to properly use fonts */
    font-family: 'Unna', serif;
    font-size: 1.15em;
}



/* --- BODY --- */
body {
    background-image: linear-gradient(#202020, #161616);
}

a {
    color: #161616;
}


/* --- HEADER --- */
header {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 50px;
    display: flex;
    height: 3em;
    background-image: linear-gradient(to bottom right, #ffcc00, #202020);
}

header nav {
    margin: auto;
}



/* --- NAV-HOME --- */
#nav-home {
    font-size: 2.35em;
    padding-left: 50px;
}

/* --- MAIN --- */
main {
    margin-bottom: 250px;
    background-image: linear-gradient(to bottom right, #ffcc00, #202020);
}


/* --- FOOTER --- */
footer {
    border-style: solid;
    border-width: 1px;
    background-image: linear-gradient(to bottom right, #ffcc00, #202020);
}