* {
	font-family: 'noto sans', Roboto, 'sans';
}

body {
	margin: 0;
	display: flex;
}

a {
	text-decoration: none;
}

b {
	color: rebeccapurple;
}

/* ----------SIDEBAR---------- */
.sidebar {
	width: 7%;
	color: darkorange;
	background-color: black;
	top: 0;
	position: sticky;
	max-height: 1080px;
	overflow-y: auto;
}
.home {
	text-align: center;
	font-size: 16px;
}
.scrollables {
}
/* ----------SIDEBAR---------- */

/* ----------MAIN---------- */
.main {
	display: flex; /* Take the remaining width */
	flex-direction: column;
    overflow: auto; /* Make it scrollable */
}

.header {
	flex: 1;
	order: 1; /* In which order to render flex items */
	text-align: center;
	font-size: 24px;
	color: darkorange;
	background-color: black;
}

.toc {
	display: flex;
	flex: 1;
	order: 2;
	justify-content: center;
	font-size: 20px;
	color: black;
	background-color: darkorange;
}
.toc a {
	color:  black;
}
.toc a:hover{
	color: white;
}
.toc_uneven {
	flex-flow: column wrap;
}

.content {
	flex: 1; /* Make into item in box*/
	order: 3; 
	font-size: 24px;
	text-align: left;
	color: white;
    background-color: black;
    padding-left: 20%;
    padding-right: 20%;
}
.content h1 {
	text-align: center;
	padding-top: 5%;
	font-size: 32px;
	color: darkorange;
}
.content_hr_top {
	padding-top: 2%;
}
.content_hr_bottom {
	padding-bottom: 2%;
}
.content img {
	padding-top: 5%;
	max-width:100%;
	max-height:100%;
}
.content iframe {
	margin-top: 5%;
	margin-bottom: 5%;
}
.img_caption {
	padding-bottom: 5%;
	text-align: center;
	font-size: 14px;
}
.img_caption b {
	color: darkorange;
}

.footer {
	flex: 1;
	order: 4;
	text-align: center;
	margin-top: 5%;
	color: black;
	background-color: darkorange;
}
/* ----------MAIN---------- */