:root {
    --background: #0a0a0a;
    --foreground: #f9771a;
    --accent: #a786f3;
}

:root {
    --first-tone: var(--accent);
    --second-tone: color-mix(in srgb, var(--accent) 100%, transparent);
    --comment: color-mix(in srgb, var(--foreground) 100%, transparent);
}

img {
    max-height: 60vh;
    max-width: 50%;
}

a:hover {
    color: #A8D600
}

.navigation-menu__inner.menu--desktop a:hover {
    color: #A8D600
}

.read-more.button.inline:hover {
    color: #A8D600
}

.button__text:hover {
    color: #A8D600
}

.logo:hover {
    background: #0A0A0A;
    color: #A786F3
}
