/* --- CUSTOM FONTS --- */
@font-face {
    font-family: gaspar;
    src: url("../assets/fonts/gaspar/Gaspar_Regular.otf");
}


/* --- APPLY TO EVERYTHING --- */
* {
    /* TODO: figure out a way to properly use fonts */
    font-family: 'gaspar', serif ;
    font-size: 1.15em;
}


html, body {
    height: 100%;
}


body {
    display: flex;
    flex-direction: column;
    background-color: #111111;
    margin: auto;
}

a {
    color: #0000ee;
}


header {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
    display: flex;
    height: 3em;
    background-color: #fffbfb;
}

header nav {
    margin: auto;
}

#nav-home {
    font-size: 2.35em;
    padding-left: 25px;
}


main {
    background-color: #fffbfb;
    margin-bottom: 50px;
    flex: 1 0 auto;
}


footer {
    border-style: solid;
    border-width: 1px;
    background-color: #fffbfb;
    text-align: center;
    flex-shrink: 0;
}

/* --- FOOTER - CONTACT LOGOS --- */
#discord-logo {
    width: 48px;
    height: 48px;
}

#telegram-logo {
    width: 48px;
    height: 48px;
}

#mail-logo {
    width: 50px;
    height: 50px;
}