:root {
    --background: #0a0a0a;
    --foreground: #f9771a;
    --accent: #a786f3;
}

:root {
    --first-tone: var(--accent);
    --second-tone: color-mix(in srgb, var(--accent) 100%, transparent);
    --comment: color-mix(in srgb, var(--foreground) 100%, transparent);
}

img {
    width: 25%;
    height: 25%;
}
